@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --pratyushpandey-netlify-app-inter-extra-bold-font-family: "Inter", Helvetica;
  --pratyushpandey-netlify-app-inter-extra-bold-font-size: 71.4375px;
  --pratyushpandey-netlify-app-inter-extra-bold-font-style: normal;
  --pratyushpandey-netlify-app-inter-extra-bold-font-weight: 400;
  --pratyushpandey-netlify-app-inter-extra-bold-letter-spacing: 0px;
  --pratyushpandey-netlify-app-inter-extra-bold-line-height: 72px;
  --pratyushpandey-netlify-app-inter-extra-bold-upper-font-family: "Inter", Helvetica;
  --pratyushpandey-netlify-app-inter-extra-bold-upper-font-size: 18.850000381469727px;
  --pratyushpandey-netlify-app-inter-extra-bold-upper-font-style: normal;
  --pratyushpandey-netlify-app-inter-extra-bold-upper-font-weight: 400;
  --pratyushpandey-netlify-app-inter-extra-bold-upper-letter-spacing: 0px;
  --pratyushpandey-netlify-app-inter-extra-bold-upper-line-height: 31.200000762939453px;
  --pratyushpandey-netlify-app-inter-light-font-family: "Inter", Helvetica;
  --pratyushpandey-netlify-app-inter-light-font-size: 31.21875px;
  --pratyushpandey-netlify-app-inter-light-font-style: normal;
  --pratyushpandey-netlify-app-inter-light-font-weight: 300;
  --pratyushpandey-netlify-app-inter-light-letter-spacing: 0px;
  --pratyushpandey-netlify-app-inter-light-line-height: 40px;
  --pratyushpandey-netlify-app-inter-medium-font-family: "Inter", Helvetica;
  --pratyushpandey-netlify-app-inter-medium-font-size: 10.6875px;
  --pratyushpandey-netlify-app-inter-medium-font-style: normal;
  --pratyushpandey-netlify-app-inter-medium-font-weight: 500;
  --pratyushpandey-netlify-app-inter-medium-letter-spacing: 0px;
  --pratyushpandey-netlify-app-inter-medium-line-height: 16px;
  --pratyushpandey-netlify-app-inter-regular-font-family: "Inter", Helvetica;
  --pratyushpandey-netlify-app-inter-regular-font-size: 18.362499237060547px;
  --pratyushpandey-netlify-app-inter-regular-font-style: normal;
  --pratyushpandey-netlify-app-inter-regular-font-weight: 400;
  --pratyushpandey-netlify-app-inter-regular-letter-spacing: 0px;
  --pratyushpandey-netlify-app-inter-regular-line-height: 31.200000762939453px;
  --pratyushpandey-netlify-app-inter-regular-upper-font-family: "Inter", Helvetica;
  --pratyushpandey-netlify-app-inter-regular-upper-font-size: 16px;
  --pratyushpandey-netlify-app-inter-regular-upper-font-style: normal;
  --pratyushpandey-netlify-app-inter-regular-upper-font-weight: 400;
  --pratyushpandey-netlify-app-inter-regular-upper-letter-spacing: 0px;
  --pratyushpandey-netlify-app-inter-regular-upper-line-height: 24px;
  --pratyushpandey-netlify-app-semantic-blockquote-font-family: "Inter", Helvetica;
  --pratyushpandey-netlify-app-semantic-blockquote-font-size: 27.875px;
  --pratyushpandey-netlify-app-semantic-blockquote-font-style: normal;
  --pratyushpandey-netlify-app-semantic-blockquote-font-weight: 300;
  --pratyushpandey-netlify-app-semantic-blockquote-letter-spacing: 0px;
  --pratyushpandey-netlify-app-semantic-blockquote-line-height: 52px;
  --pratyushpandey-netlify-app-semantic-button-font-family: "Inter", Helvetica;
  --pratyushpandey-netlify-app-semantic-button-font-size: 16.03125px;
  --pratyushpandey-netlify-app-semantic-button-font-style: normal;
  --pratyushpandey-netlify-app-semantic-button-font-weight: 700;
  --pratyushpandey-netlify-app-semantic-button-letter-spacing: 0px;
  --pratyushpandey-netlify-app-semantic-button-line-height: 28px;
  --pratyushpandey-netlify-app-semantic-button-upper-font-family: "Inter", Helvetica;
  --pratyushpandey-netlify-app-semantic-button-upper-font-size: 18.6875px;
  --pratyushpandey-netlify-app-semantic-button-upper-font-style: normal;
  --pratyushpandey-netlify-app-semantic-button-upper-font-weight: 400;
  --pratyushpandey-netlify-app-semantic-button-upper-letter-spacing: 0px;
  --pratyushpandey-netlify-app-semantic-button-upper-line-height: 31.200000762939453px;
  --pratyushpandey-netlify-app-semantic-cite-font-family: "Inter", Helvetica;
  --pratyushpandey-netlify-app-semantic-cite-font-size: 16.362499237060547px;
  --pratyushpandey-netlify-app-semantic-cite-font-style: normal;
  --pratyushpandey-netlify-app-semantic-cite-font-weight: 400;
  --pratyushpandey-netlify-app-semantic-cite-letter-spacing: 0px;
  --pratyushpandey-netlify-app-semantic-cite-line-height: 26.399999618530273px;
  --pratyushpandey-netlify-app-semantic-heading-1-font-family: "Inter", Helvetica;
  --pratyushpandey-netlify-app-semantic-heading-1-font-size: 119.6812515258789px;
  --pratyushpandey-netlify-app-semantic-heading-1-font-style: normal;
  --pratyushpandey-netlify-app-semantic-heading-1-font-weight: 500;
  --pratyushpandey-netlify-app-semantic-heading-1-letter-spacing: -3.74399995803833px;
  --pratyushpandey-netlify-app-semantic-heading-1-line-height: 134.77999877929688px;
  --pratyushpandey-netlify-app-semantic-heading-1-upper-font-family: "Inter",
    Helvetica;
  --pratyushpandey-netlify-app-semantic-heading-1-upper-font-size: 185.8125px;
  --pratyushpandey-netlify-app-semantic-heading-1-upper-font-style: normal;
  --pratyushpandey-netlify-app-semantic-heading-1-upper-font-weight: 700;
  --pratyushpandey-netlify-app-semantic-heading-1-upper-letter-spacing: -5.760000228881836px;
  --pratyushpandey-netlify-app-semantic-heading-1-upper-line-height: 160px;
  --pratyushpandey-netlify-app-semantic-heading-2-font-family: "Inter", Helvetica;
  --pratyushpandey-netlify-app-semantic-heading-2-font-size: 39.53125px;
  --pratyushpandey-netlify-app-semantic-heading-2-font-style: normal;
  --pratyushpandey-netlify-app-semantic-heading-2-font-weight: 700;
  --pratyushpandey-netlify-app-semantic-heading-2-letter-spacing: -1.100000023841858px;
  --pratyushpandey-netlify-app-semantic-heading-2-line-height: 66px;
  --pratyushpandey-netlify-app-semantic-heading-2-upper-font-family: "Inter",
    Helvetica;
  --pratyushpandey-netlify-app-semantic-heading-2-upper-font-size: 149.85000610351562px;
  --pratyushpandey-netlify-app-semantic-heading-2-upper-font-style: normal;
  --pratyushpandey-netlify-app-semantic-heading-2-upper-font-weight: 500;
  --pratyushpandey-netlify-app-semantic-heading-2-upper-letter-spacing: -4.607999801635742px;
  --pratyushpandey-netlify-app-semantic-heading-2-upper-line-height: 153.60000610351562px;
  --pratyushpandey-netlify-app-semantic-heading-3-font-family: "Inter", Helvetica;
  --pratyushpandey-netlify-app-semantic-heading-3-font-size: 13.125px;
  --pratyushpandey-netlify-app-semantic-heading-3-font-style: normal;
  --pratyushpandey-netlify-app-semantic-heading-3-font-weight: 500;
  --pratyushpandey-netlify-app-semantic-heading-3-letter-spacing: -0.41999998688697815px;
  --pratyushpandey-netlify-app-semantic-heading-3-line-height: 20px;
  --pratyushpandey-netlify-app-semantic-heading-3-upper-font-family: "Inter",
    Helvetica;
  --pratyushpandey-netlify-app-semantic-heading-3-upper-font-size: 47.8125px;
  --pratyushpandey-netlify-app-semantic-heading-3-upper-font-style: normal;
  --pratyushpandey-netlify-app-semantic-heading-3-upper-font-weight: 500;
  --pratyushpandey-netlify-app-semantic-heading-3-upper-letter-spacing: -1.440000057220459px;
  --pratyushpandey-netlify-app-semantic-heading-3-upper-line-height: 48px;
  --pratyushpandey-netlify-app-semantic-heading-4-font-family: "Inter", Helvetica;
  --pratyushpandey-netlify-app-semantic-heading-4-font-size: 23.25px;
  --pratyushpandey-netlify-app-semantic-heading-4-font-style: normal;
  --pratyushpandey-netlify-app-semantic-heading-4-font-weight: 500;
  --pratyushpandey-netlify-app-semantic-heading-4-letter-spacing: -0.7200000286102295px;
  --pratyushpandey-netlify-app-semantic-heading-4-line-height: 36px;
  --pratyushpandey-netlify-app-semantic-heading-4-upper-font-family: "Inter",
    Helvetica;
  --pratyushpandey-netlify-app-semantic-heading-4-upper-font-size: 15.75px;
  --pratyushpandey-netlify-app-semantic-heading-4-upper-font-style: normal;
  --pratyushpandey-netlify-app-semantic-heading-4-upper-font-weight: 500;
  --pratyushpandey-netlify-app-semantic-heading-4-upper-letter-spacing: 0.800000011920929px;
  --pratyushpandey-netlify-app-semantic-heading-4-upper-line-height: 24px;
  --pratyushpandey-netlify-app-semantic-item-font-family: "Inter", Helvetica;
  --pratyushpandey-netlify-app-semantic-item-font-size: 15.675000190734863px;
  --pratyushpandey-netlify-app-semantic-item-font-style: normal;
  --pratyushpandey-netlify-app-semantic-item-font-weight: 400;
  --pratyushpandey-netlify-app-semantic-item-letter-spacing: 0px;
  --pratyushpandey-netlify-app-semantic-item-line-height: 26.399999618530273px;
  --pratyushpandey-netlify-app-semantic-link-font-family: "Inter", Helvetica;
  --pratyushpandey-netlify-app-semantic-link-font-size: 15.125px;
  --pratyushpandey-netlify-app-semantic-link-font-style: normal;
  --pratyushpandey-netlify-app-semantic-link-font-weight: 400;
  --pratyushpandey-netlify-app-semantic-link-letter-spacing: 0px;
  --pratyushpandey-netlify-app-semantic-link-line-height: 26.399999618530273px;
  --pratyushpandey-netlify-app-semantic-link-upper-font-family: "Inter", Helvetica;
  --pratyushpandey-netlify-app-semantic-link-upper-font-size: 11.25px;
  --pratyushpandey-netlify-app-semantic-link-upper-font-style: normal;
  --pratyushpandey-netlify-app-semantic-link-upper-font-weight: 500;
  --pratyushpandey-netlify-app-semantic-link-upper-letter-spacing: 0.600000023841858px;
  --pratyushpandey-netlify-app-semantic-link-upper-line-height: 16px;
  --pratyushpandey-netlify-app-semantic-superscript-font-family: "Inter", Helvetica;
  --pratyushpandey-netlify-app-semantic-superscript-font-size: 12.75px;
  --pratyushpandey-netlify-app-semantic-superscript-font-style: normal;
  --pratyushpandey-netlify-app-semantic-superscript-font-weight: 400;
  --pratyushpandey-netlify-app-semantic-superscript-letter-spacing: -1.3200000524520874px;
  --pratyushpandey-netlify-app-semantic-superscript-line-height: 66px;
  --pratyushpandeynetlifyappblack: rgba(0, 0, 0, 1);
  --pratyushpandeynetlifyappblack-30: rgba(0, 0, 0, 0.3);
  --pratyushpandeynetlifyappblizzard-blue: rgba(178, 235, 242, 1);
  --pratyushpandeynetlifyappbrink-pink: rgba(255, 115, 131, 1);
  --pratyushpandeynetlifyappcornflower-blue: rgba(97, 95, 255, 1);
  --pratyushpandeynetlifyappfog: rgba(217, 215, 255, 1);
  --pratyushpandeynetlifyapphawkes-blue: rgba(227, 242, 253, 1);
  --pratyushpandeynetlifyappheliotrope: rgba(204, 129, 244, 1);
  --pratyushpandeynetlifyappindigo: rgba(92, 107, 192, 1);
  --pratyushpandeynetlifyapplucky-point: rgba(32, 29, 102, 1);
  --pratyushpandeynetlifyappmalibu: rgba(100, 181, 246, 1);
  --pratyushpandeynetlifyappmalibu-20: rgba(144, 202, 249, 0.2);
  --pratyushpandeynetlifyappmelrose: rgba(174, 165, 255, 1);
  --pratyushpandeynetlifyappmoody-blue: rgba(121, 134, 203, 1);
  --pratyushpandeynetlifyappmoody-blue-20: rgba(121, 134, 203, 0.2);
  --pratyushpandeynetlifyappmoody-blue-30: rgba(121, 134, 203, 0.3);
  --pratyushpandeynetlifyappperfume: rgba(248, 195, 249, 1);
  --pratyushpandeynetlifyapppink-salmon-50: rgba(255, 147, 186, 0.5);
  --pratyushpandeynetlifyappradical-red: rgba(250, 28, 86, 1);
  --pratyushpandeynetlifyappsail: rgba(187, 222, 251, 1);
  --pratyushpandeynetlifyappsail-30: rgba(187, 222, 251, 0.3);
  --pratyushpandeynetlifyappsail-50: rgba(187, 222, 251, 0.5);
  --pratyushpandeynetlifyappsapphire: rgba(57, 73, 171, 1);
  --pratyushpandeynetlifyappspray: rgba(128, 222, 234, 1);
  --pratyushpandeynetlifyappspring-green: rgba(0, 255, 115, 1);
  --pratyushpandeynetlifyappwhite: rgba(255, 255, 255, 1);
  --pratyushpandeynetlifyappwhite-02: rgba(255, 255, 255, 0.0);
  --pratyushpandeynetlifyappwhite-ice: rgba(224, 247, 250, 1);
  --pratyushpandeynetlifyappwild-watermelon: rgba(255, 109, 123, 1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
